footer {

    & .container {
        display: flex;
        justify-content: center;

        & .text {
            display: flex;
            align-items: center;
            column-gap: 4rem;

            height: max-content;
            color: white;

            & p {
                margin: 0;
            }
        }
    }
}