.background {
    z-index: -1;

    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
}

@media screen and (max-width: 1024px) {
    .background {
        left: -50%;
    }
}

.darken {
    z-index: -1;

    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 100%;
    min-height: 100%;
    top: 0;
}