main {

    & .container {
        
        & .card-styles {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 4rem;
    
            padding: 4rem;

            > h1 {
                font-size: 3rem;
                margin: 0;
                color: white;
                
                &:not(:first-of-type) {
                    margin-top: 6rem;
                }
            }

            & .style-1{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                column-gap: 2rem;
                row-gap: .5rem;
    
                width: 50%;
                background-color: #ffffff40;
                padding-block: 2rem;
                border-radius: 1.5rem;
                box-shadow: 0 0 8px 4px #00000080;
                backdrop-filter: blur(4px);
    
                & .name {
                    align-self: center;
    
                    font-size: 3.5rem;
                }
    
                & .video_link {
                    height: 12rem;
                    width: 22rem;
                    border-radius: 1rem;
                }
    
                & .description {width: 85%;
                }
    
                & .navigation {
                    display: flex;
                    justify-content: center;
                    column-gap: 6rem;
                    margin-top: 2.5rem;
    
                    & a {
                        width: 6rem;
                        text-align: center;
                        text-decoration: none;
                        color: black;
                        background-color: #ecadad;
                        box-shadow: 0 0 1rem 1px indianred;
                        padding: .5rem;
                        border-radius: 1rem;
                        transition: .3s;
    
                        &:hover {
                            background-color:lightcoral;
                            transform: scale(1.2);
                        }
    
                        &:active {
                            transform: scale(1);
                        }
                    }
                }
            }

            & .style-2 {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 8rem;
    
                padding-block: 2rem;
    
                & .card {
                    height: 20rem;
                    width: 18rem;
                    margin: .5rem;
                    padding-top: 1rem;
                    border-radius: 1rem;
                    box-shadow: 0 0 1rem 2px #00000040;
                    
                    &:nth-of-type(1) {
                        background-color: cornflowerblue;
    
                        & .button {
                            color: transparent;
                            background-color: transparent;
                        }
                    }
    
                    &:nth-of-type(2) {
                        background-color: bisque;
    
                        & .button {
                            color: transparent;
                            background-color: transparent;
                        }
                    }
    
                    &:nth-of-type(3) {
                        background-color: mediumseagreen;
    
                        & .button {
                            color: transparent;
                            background-color: transparent;
                        }
                    }
    
                    & .white_tile {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
    
                        background-color: white;
                        height: 22rem;
                        width: 18rem;
                        padding-top: .5rem;
                        border-radius: 1rem;
    
                        transition: 0.75s;
    
                        & * {
                            color: black;
                        }
    
                        & .title {
                            font-size: 1.5rem;
                        }
    
                        & .description {
                            padding-inline: 1rem;
                            text-align: justify;
                        }
    
                        & .button {
                            margin-top: 1rem;
                            text-decoration: none;
                            border-radius: 2rem;
                            padding: .5rem;
                            transition: 0.3s;
    
                            &:hover {
                                transform: scale(1.2);
                            }
    
                            &:active {
                                transform: scale(1);
                            }
                        }
                    }
    
                    &:hover {
    
                        & .white_tile {
                            height: 14rem;
                            margin-top: 8rem;
                        }
    
                        & .button {
                            color: black;
                        }
                    
                        &:nth-of-type(1) {
    
                            & .button {
                                background-color: cornflowerblue;
                            }
                        }
        
                        &:nth-of-type(2) {
    
                            & .button {
                                background-color: bisque;
                            }
                        }
        
                        &:nth-of-type(3) {
        
                            & .button {
                                background-color: mediumseagreen;
                            }
                        }
                    }
                }
            }

            & .style-3 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-self: end;
                align-self: center;
                row-gap: 3rem;
    
                padding-block: 1rem 1.5rem;
                padding-inline: 2rem;
                margin-right: 4rem;
                height: max-content;
                width: max-content;
                background-color: #ffffff20;
                border-style: solid;
                border-width: 1px;
                border-radius: 1rem;
                border-color: #00000060;
                backdrop-filter: blur(2px);
    
                & .title {
                    font-size: 1.5rem;
                    color: white;
                }
    
                & .playable_characters {
                    display: grid;
                    grid-template-rows: auto auto;
                    grid-auto-flow: column;
                    column-gap: 1rem;
                    row-gap: 1rem;
    
                    & .character {
                        text-align: center;
                        text-decoration: none;
                        padding: .5rem .5rem;
                        color: black;
                        background-color: white;
                        border-radius: 1rem;
                        height: 12rem;
                        width: 10rem;
                        transition: 0.7s;

                        & .name {
                            margin: 0;
                        }
    
    
                        & .portrait {
                            width: inherit;
                            height: 10rem;
                        }
                        
                        &:hover {
                            transform: scale(1.7) rotateY(180deg);
                            background-color: #00000069;
                            color: white;
    
                            & .name, & .portrait {
                                transform: rotateY(180deg);
                            }
                        }
    
                        &:nth-of-type(1):hover .portrait {
                            content: url("../img/card-style-3/gifs/anime-frieren.gif");
                        }
    
                        &:nth-of-type(2):hover .portrait{
                            content: url("../img/card-style-3/gifs/fern-munching-fern.gif");
                        }
    
                        &:nth-of-type(3):hover .portrait{
                            content: url("../img/card-style-3/gifs/anime-ubel.gif");
                        }
    
                        &:nth-of-type(4):hover .portrait{
                            content: url("../img/card-style-3/gifs/sense-frieren.gif");
                        }
    
                        &:nth-of-type(5):hover .portrait{
                            content: url("../img/card-style-3/gifs/anime-linie.gif");
                        }
    
                        &:nth-of-type(6):hover .portrait{
                            content: url("../img/card-style-3/gifs/anime-laufen.gif");
                        }
                    }
                }
            }

            & .style-4 {
                display: flex;
                flex-direction: column;
    
                width: 25%;
                color: white;
                background-color: transparent;
                border-radius: 2rem;
                border-top-style: solid;
                border-left-style: solid;
                border-width: 2px;
                border-color: #ffffff40;
                padding-block: 1rem;
                box-shadow: 1rem 1rem 4px #00000088;
                backdrop-filter: blur(8px);
    
                & .title {
                    align-self: center;
    
                    width: 75%;
                }
    
                & .subtitle {
                    align-self: center;
    
                    margin-top: 0;
                }
    
                & .description {
                    display: flex;
                    flex-direction: column-reverse;
                    align-self: center;
    
                    width: 24rem;
                    margin-inline: 0;
                    text-align: center;
                }
    
                & .navigation {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 1rem;
    
                    margin-top: 2rem;
    
                    & .button{
                        text-decoration: none;
                        box-shadow: 0 0 .5rem 1px dimgray;
    
                        &:nth-of-type(1) {
                            color: orangered;
                            background-color: white;
                            font-size: 1.5rem;
                            padding: 1rem 2rem;
                            border-radius: 1rem;
                            transition: 0.5s;
    
                            &:hover {
                                color: white;
                                background-color: orangered;
                                transform: scale(1.2);
                            }
                        }
    
                        &:nth-of-type(2) {
                            color: orangered;
                            background-color: white;
                            font-size: 1rem;
                            padding: .5rem 1rem;
                            border-radius: .7rem;
                            transition: 0.5s;
    
                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }

            & .style-5 {
                grid-column-start: 2;

                display: flex;
                align-self: center;
                align-items: center;
                justify-content: center;
                column-gap: 4rem;

                height: max-content;
                width: max-content;
                border-radius: 1rem;
                box-shadow: inset 0 0 8rem darkorchid;
                color: white;
                font-size: 2.5rem;
                backdrop-filter: blur(4px);

                & .button {
                    display: flex;
                    column-gap: 2rem;
                    text-decoration: none;

                    height: max-content;
                    transition: 0.5s;

                    & p {
                        margin: 0;
                        transition: 0.5s;

                        &.arrow {
                            color: transparent;
                            text-shadow: 0 0;
                        }
                    }

                    &:nth-of-type(1) {
                        color: crimson;
                        text-shadow: 4px 2px black;

                        &:hover {
                            transform: scale(1.2);
                            translate: -1.5rem;

                            & .arrow {
                                translate: -3rem;
                                color: white;
                            }
                        }
                    }

                    &:nth-of-type(2) {
                        color: deepskyblue;
                        text-shadow: 4px 2px black;

                        &:hover {
                            transform: scale(1.2);
                            translate: 1.5rem;

                            & .arrow {
                                translate: 3rem;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}